# Default configuration for TI TM4C123GXL LaunchPad

# Copyright (c) 2024, Your Name
# SPDX-License-Identifier: Apache-2.0


# Enable ARM Cortex-M4F features
#CONFIG_FPU=y
#CONFIG_BUILD_OUTPUT_HEX=y


# Console / UART
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

#CONFIG_UART_STELLARIS=y
#CONFIG_UART_STELLARIS_PORT_0=y
#CONFIG_UART_STELLARIS_PORT_1=y
# GPIO
#CONFIG_GPIO=y

# Pin control
#CONFIG_PINCTRL=y

# TivaWare HAL
#CONFIG_TIVA_HAL=y
#CONFIG_TIVA_HAL_USE_UART=y
#CONFIG_TIVA_HAL_USE_SYSCTL=y
#CONFIG_TIVA_HAL_USE_GPIO=y
